.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}


.overlay .image-container {
    width: 45%;
}

.overlay .image-label {
    margin-top: 0em;
    font-style: italic;
}
.overlay .text-container {
    width: 50%;
    margin-left: 5%;
}

.overlay .title {
    margin-top: 0em;
    color: black;
}