.text-and-image-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
    background-color: black;
    width: 60%;
    height: fit-content;
}

.text-and-image-container .text-container {
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    padding-right: 2em;
    margin-bottom: 2em;
    width: 60%
}

.text-and-image-container .title {
    width: 100%;
}

.text-and-image-container .text {
    color: white;
    text-align: left;
}

.text-and-image-container .image-container {
    width: 40%;
}

.text-and-image-container .image {
    padding: 1em 1em;
    width: 25vw;
    pointer-events: none;
}


